body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
}

.main-banner img {
    width: 100%;
}

.featured-products,
.special-offers {
    margin: 20px;
}

.product-card,
.offer-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style: none;
    display: flex;
}

.footer-content ul li {
    margin-right: 20px;
}

.social-links a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-bottom: 2px solid red; /* Линия подчеркивания */
  display: inline-block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-bottom: 2px solid #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.cart-item {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #555;
    margin-top: 10px;
}

img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ddd; /* Рамка вокруг изображения */
    border-radius: 4px; /* Скругление углов */
    margin-top: 10px;
}

p {
    color: #777;
    margin-top: 10px;
}


.cart_item {
    border: 5px solid #cfe3cf;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.kn {

    border-radius: 5px;

}

.flash {
    padding: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flash.success {
    border: 1px;
    border-radius: 20px;
    background: green;
}

.flash.error {
    border: 1px;
    border-radius: 20px;
    background: red;
}